// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$line-height-base: 1.5;

$pri-color: #56d0ef;
$sec-color: #f08155;
$offwhite: #f5f5f5;
$offblack: #0c0c0c;

$primary: $pri-color;
$secondary: $sec-color;
$success: $sec-color;
$info: $pri-color;
$warning: $pri-color;
$danger: $sec-color;
$light: $offwhite;
$dark: $offblack;
