// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins");

// Variables
@import "variables";
@import "~bootstrap/scss/bootstrap";

html {
  font-size: 0.9rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.05rem;
  }
}

//Mixins
@import "scrollbars";

@import "nav";
@import "experiences";
// Sections
@import "home";

html {
    @media (min-width: 1201px) {
        scroll-behavior: smooth;
    }
}

*::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $sec-color;
}

*::selection {
    color: white;
    background: $sec-color;
}

.footer-section *::-moz-selection,
.hero-section *::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $pri-color;
}

.footer-section *::selection,
.hero-section *::selection {
    color: white;
    background: $pri-color;
}
