html {
    @media (min-width: 1201px) {
        scroll-behavior: smooth;
    }
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins");

//Mixins
@import "scrollbars";

// Variables
@import "variables";

@import "nav";
@import "experiences";
// Sections
@import "home";

@import "~bootstrap/scss/bootstrap";

*::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $sec-color;
}

*::selection {
    color: white;
    background: $sec-color;
}

.footer-section *::-moz-selection,
.hero-section *::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: $pri-color;
}

.footer-section *::selection,
.hero-section *::selection {
    color: white;
    background: $pri-color;
}
